* {
    margin: 0;
    padding: 0;
  }

header{
   width: 800px;
   margin: auto;
   margin-top: 100px;
}

body {
   background-color: rgb(159, 197, 175);
   margin: 0;
   padding: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   max-width: 800px;
   margin: 10px auto;  
 }

button {
    background-color: rgb(159, 197, 175);
 }

 .container {
    width: 80%;
    margin: 2vw auto;
    border: 1px solid red;
 }

img {
   width: 30vw;
   margin: 2vw;
}

.bayan-title-container {
    display: flex;
    width: 100%;
    min-height: fit-content;
    justify-content: space-between;
}

span {
   height: fit-content;
   align-self: center;
   padding: 0 1vw;
}

.bayan-image {
   display: none;
   justify-content: center;
   margin: 0 auto;
}

.container:hover .bayan-image {
    display: block;
}

.container:hover .plus {
   transform: rotate(45deg);
   transition: transform 0.3s;
}

.container:focus .bayan-image{
    display: block;
}

.container:focus .plus {
    transform: rotate(45deg);
    transition: transform 0.5s;
}